# Configuration file for the Xen instance cli1, created
# by xen-tools 4.5 on Fri Jan 12 17:08:19 2018.
#

#
#  Kernel + memory size
#
kernel      = '/boot/vmlinuz-3.16.0-4-amd64'
extra       = 'elevator=noop'
ramdisk     = '/boot/initrd.img-3.16.0-4-amd64'

vcpus       = '1'
memory      = '128'


#
#  Disk device(s).
#
root        = '/dev/xvda2 ro'
disk        = [
                  'file:/home/felipeb/vms/domains/cli2/disk.img,xvda2,w',
                  'file:/home/felipeb/vms/domains/cli2/swap.img,xvda1,w',
              ]


#
#  Physical volumes
#
#
#  Hostname
#
name        = 'cli2'

#
#  Networking
#
vif         = [ 'ip=198.51.100.2 ,mac=00:19:85:11:00:02,bridge=br198' ]
# When internet connection is needed.
#vif         = [ 'bridge=xenbr0' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'
