#
# Configuration file for the Xen instance ws1, created
# by xen-tools 4.5 on Wed Jan 10 15:59:20 2018.
#

#
#  Kernel + memory size
#
kernel      = '/boot/vmlinuz-3.16.0-4-amd64'
extra       = 'elevator=noop'
ramdisk     = '/boot/initrd.img-3.16.0-4-amd64'

vcpus       = '1'
memory      = '768'


#
#  Disk device(s).
#
root        = '/dev/xvda2 ro'
disk        = [
                  'file:/home/felipeb/vms//domains/ws1/disk.img,xvda2,w',
                  'file:/home/felipeb/vms//domains/ws1/swap.img,xvda1,w',
              ]


#
#  Physical volumes
#


#
#  Hostname
#
name        = 'ws1'

#
#  Networking
#
vif         = [ 'ip=172.16.40.55 ,mac=00:01:72:16:40:55,bridge=br172' ]
#vif         = [ 'mac=00:01:72:16:40:55,bridge=xenbr0' ]

#
#  Behaviour
#
on_poweroff = 'destroy'
on_reboot   = 'restart'
on_crash    = 'restart'
